
.home-container {
    padding: 10px;
    font-size: 24px;
    text-align: center;
    }

.home-card{
    display: flex;
    flex-direction: column-reverse;
    border-radius: 20px;
}

.content-home-container h1 {
    width: 280px;
    font-size: 1em;
    margin-bottom: 15px;
}

.content-home-container p{
    width: 280px;
    margin-bottom: 33px;
    font-size: 0.6em;
    color: rgba(158, 158, 158, 1);

}

.content-home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 60px 10px;
}

.home-img-container {
    padding: 50px 15px;
}

.home-img-container svg {
    width: 100%;
    height: auto;
}

@media (min-width: 576px){
    .home-container {
        padding: 20px;
        font-size: 40px;
    }

    .content-home-container h1 {
        width: 506px;
        margin-bottom: 20px;
    }

    .content-home-container p {
        width: 506px;
        margin-bottom: 20px;
    }

    .home-img-container svg {
        width: 506px;
    }

    .content-home-container button {
        width: 506px;
    }
    
}

@media (min-width: 768px){
    .home-img-container {
        padding: 100px 20px;
    }
    
    .content-home-container {
        margin: 20px 20px 100px 20px;
    }
}

@media (min-width: 992px){
    .home-container {
        padding: 40px;
        font-size: 55px;
    }
    .home-img-container {
        padding: 125px 148px;
    }

     .content-home-container {
        margin: 20px 20px 150px 20px;
    }

    .content-home-container h1 {
        width: 700px;
        margin-bottom: 26px;
    }

    .content-home-container p {
        width: 500px;
        font-size: 0.4em;
        margin-bottom: 47px;
    }

}

@media (min-width: 1200px){
    .home-card{
        flex-direction: row;
        justify-content: space-around;
        padding: calc(((85vh -480px)/2) - 20px)0;
    }

    .content-home-container{
        height: 480px;
        width: 700px;
        padding: 100px;
        align-items: flex-start;
        text-align: left;
        align-content: space-between;
        flex-flow: wrap;
    }

    .home-img-container{
        display: flex;
        align-items: center;
        padding: 20px;
    }

    .home-image-container svg {
        width: 100%;
      }
}
    
@media (min-width: 1400px) {
    .home-image-container svg {
        width: 500px;
    } 

}